.mgmt-container {
    display: flex;
    height: 300px;
}

.mgmt-info {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    background-color: #FBFFEE;
    border: 2px solid #00B031;
    border-radius: 4px;
    margin: 10px;
    text-align: center;
    display: flex;
    flex-direction: column; /* 세로로 정렬 */
    justify-content: center; /* 세로 가운데 정렬 */
    align-items: center; /* 가로 가운데 정렬 */
}

.mgmt-info h3{
    font-size: 32px;
    font-weight: bold;
}
.mgmt-change {
    display: flex;
    flex: 2;
    padding: 20px;
    box-sizing: border-box;
    background-color: #FBFFEE;
    border: 2px solid #00B031;
    border-radius: 4px;
    margin: 10px;
}

.change-pw-container {
    flex: 1;
    font-weight: bold;
    margin-top: 30px;
    margin-left: 35px;
}

.change-pw-container h3{
    font-size: 26px;
    margin-bottom: 20px;
}

.change-pw-container p {
    margin-bottom: 2px;
}

.change-pw-container input {
    width: 90%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border-radius: 8px;
    border: 2px solid #00dc3e;
}

.button-pw {
    font-size: 15px;
    font-weight: bolder;
    padding: 6px;
    color: white;
    background-color: #00C236;
    border: 0;
    border-radius: 8px;
    width: 100px;
    margin: 0 auto;
    margin-top: 10px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.change-email-container {
    flex: 1;
    font-weight: bold;
    margin-top: 29px;
}

.change-email-container h3{
    font-size: 26px;
    margin-bottom: 20px;
}

.change-email-container p {
    margin-bottom: 2px;
}

.change-email-container input {
    width: 90%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border-radius: 8px;
    border: 2px solid #00dc3e;
}

.button-email{
    font-size: 15px;
    font-weight: bolder;
    padding: 6px;
    color: white;
    background-color: #00C236;
    border: 0;
    border-radius: 8px;
    width: 100px;
    margin: 0 auto;
    margin-top: 10px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.divider2 {
    border: 0;
    height: 3px;
    background-color: #A9A9A9;
    margin: 10px 0;
    width: 90%;
}

.mychallenge{
    text-align: center;
}

.mychallenge-list {
    display: flex;
    flex-direction: column; /* 세로 정렬 */
    align-items: center; /* 가로 방향 가운데 정렬 */
    justify-content: center; /* 세로 방향 가운데 정렬 */
    text-align: center; /* 텍스트 가운데 정렬 */
  }

.mychallenge-list{
    width: 50%;
    height: 300px;
    padding: 20px;
    background-color: #FBFFEE;
    border: 2px solid #00B031;
    border-radius: 4px;
    margin: 10px;
}

.mychallenge-list h3{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 15px;
}

.mychallenge-list p{
    font-size: 20px;
    margin-bottom: 10px;
    border: 1px solid #00B031;
    border-radius: 7px;
    background-color: white;
    padding: 10px;
    width: 70%;
}