<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.zerock.mapper.ChallengeMapper">
    <select id="findAll" resultType="org.zerock.domain.Challenge">
        SELECT challenge_id AS challengeId,
               title, description, duration, activity_type_id AS activityTypeId
        FROM CHALLENGES
    </select>

    <select id="findById" parameterType="long" resultType="org.zerock.domain.Challenge">
        SELECT challenge_id AS challengeId,
               title, description, duration, activity_type_id AS activityTypeId
        FROM CHALLENGES
        WHERE challenge_id = #{challengeId}
    </select>

    <insert id="insert" parameterType="org.zerock.domain.Challenge" useGeneratedKeys="true" keyProperty="challengeId">
        INSERT INTO CHALLENGES (title, description, duration, activity_type_id)
        VALUES (#{title}, #{description}, #{duration}, #{activityTypeId})
    </insert>
    
	<select id="findByTitleAndType" parameterType="map" resultType="org.zerock.domain.Challenge">
	    SELECT 
	        ch.challenge_id AS challengeId,
	        ch.title AS title,
	        ch.description AS description,
	        ch.duration AS duration,
	        ch.activity_type_id AS activityTypeId
	    FROM CHALLENGES ch
	    WHERE ch.title = #{title}
	    AND ch.activity_type_id = #{activityTypeId, jdbcType=NUMERIC}
	</select>
</mapper>